In [67]:
def odd_even_sum(lst):
    even_sum= 0
    odd_sum= 0
    for i in lst:
        if i%2 == 0:
            even_sum= even_sum + i
        else:
            odd_sum=odd_sum+i
    return (odd_sum, even_sum)

In [68]:
l1=[1,2,4,7,8,9,11,16,21,24,27,31,42]
l2=[4,6,8,9,13,16,22,29,31,34,46]

In [69]:
odd_even_sum(l2)

(82, 136)

In [70]:
def Sum(num1,num2):
    print (num1*num2)
    print('oops got multiplied')
    print( 'correct solution:', num1+num2)

In [71]:
Sum(5,7)

35
oops got multiplied
correct solution: 12

In [72]:
def fn(*args, **kwargs):
    print(args)
    print(kwargs)

In [73]:
fn('car','mercedes benz', 'yellow', year=1986, price=500000)

('car', 'mercedes benz', 'yellow')
{'year': 1986, 'price': 500000}

map functions

In [13]:
def even_or_odd(num):
    if num%2 == 0:
        return('The number {}  is even'.format(num))
    else:
        return('The number {}  is odd'.format(num))

In [14]:
even_or_odd(27)

'The number 27  is odd'

In [15]:
l1=[1,2,3,7,8,9,24,45,56,84,89,92,100]

In [81]:
list(map(even_or_odd,l1))

['The number 1  is odd',
 'The number 2  is even',
 'The number 3  is odd',
 'The number 7  is odd',
 'The number 8  is even',
 'The number 9  is odd',
 'The number 24  is even',
 'The number 45  is odd',
 'The number 56  is even',
 'The number 84  is even',
 'The number 89  is odd',
 'The number 92  is even',
 'The number 100  is even']

lambda function

In [82]:
def add(a,b):
    return a+b

In [83]:
add(12,26)

38

In [1]:
plus= lambda a,b:a+b
plus (12,26)

38

In [6]:
def odd(num):
    if num%2 != 0:
        return True
    else:
        return False

In [7]:
l1=[1,2,3,7,8,9,24,45,56,84,89,92,100]

In [8]:
list(filter(odd, l1))

[1, 3, 7, 9, 45, 89]

In [10]:
list(map(odd, l1))

[True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 False,
 False,
 True,
 False,
 False]

In [11]:
lst1=[]
def lst_square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [12]:
lst_square([1,2,3,4,5,6,7,8,9])

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
## List Comprehension
l1=[1,2,3,4,5,6,7,8,9]
lc1= [i*i for i in l1]

In [18]:
lc1

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
#onle squaring even numbers
lc2= [i*i for i in l1 if i%2==0]
lc2

[4, 16, 36, 64]

In [20]:
lc3= [3*i+5 for i in l1]
lc3

[8, 11, 14, 17, 20, 23, 26, 29, 32]

string formatting

In [27]:
def welcome(name,age):
    return 'Hi {}. you are {} years old'.format(name,age)

In [28]:
welcome('rob',80)

'Hi rob. you are 80 years old'

In [31]:
def welcome2(name,age):
    return 'Hi {a}. you are {b} years old. Hi again {a}'.format(a=name, b= age)

In [32]:
welcome2('bob', 60)

'Hi bob. you are 60 years old. Hi again bob'

#iterable and iterators

In [34]:
l1= [1,2,3,4,5,6,7,8,9,10]

In [36]:
for i in l1:
    print (i)

1
2
3
4
5
6
7
8
9
10

In [66]:
lst1=iter(l1)

In [67]:
lst1

In [70]:
next(lst1)

3

In [71]:
for i in lst1:
    print (i)

4
5
6
7
8
9
10

In [72]:
## Classes

In [81]:
class Car:
    def __init__(self,model,year,color,engine):
        self.model=model
        self.year=year
        self.color=color
        self.engine=engine
    def driving(self):
        return 'this is a {} car'.format(self.engine)

In [82]:
car1=Car('Audi',1994,'red','diesel')
car2=Car('Ford Mustang', 1980,'silver', 'petrol')

In [83]:
car2.driving()

'this is a petrol car'

In [84]:
car1.color

'red'

In [85]:
car2.model

'Ford Mustang'

In [86]:
car2.color

'silver'