In [1]:
#comment
#comment, not code ;)

In [2]:
#Variables
x=5
y="John"

In [3]:
type(x)

int

In [4]:
type(y)

str

In [5]:
print (x)

5

In [6]:
print(x)
print(y)

5
John

In [7]:
z=float(3)

In [8]:
Z="jack"

In [9]:
## strings are immutable
Z[0]

'j'

In [10]:
Z[0]= k

NameError: name 'k' is not defined

In [11]:
print(z)
print(Z)

3.0
jack

In [12]:
age=19

In [13]:
print(age)

19

In [14]:
age02=22

In [15]:
print(age+age02)

41

In [16]:
#Multivariables at once

In [17]:
a,b,c = "jam",6,18.3

In [18]:
type(a)

str

In [19]:
print(c)

18.3

In [20]:
type(c)

float

In [21]:
#unpacking collection

colors= ['red', 'white', 'blue']
x,y,z = colors

In [22]:
print(y)
print(z)

white
blue

In [23]:
x=float(13.6)
y=10

In [24]:
print(x+y)

23.6

In [25]:
type(x+y)

float

In [26]:
z=x+y

In [27]:
print(z)

23.6

In [28]:
m=x+y+z
print (m)

47.2

In [29]:
print (m)

47.2

In [30]:
#global and local variables
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " , x)

myfunc()

print("Python is " , x)

Python is  fantastic
Python is  awesome

In [31]:
#type conversion
x=5
y=6.52
z=5j

In [32]:
a=float(x)
print (a)

5.0

In [33]:
type(z)

complex

In [34]:
b=complex(y)
print (b)

(6.52+0j)

In [35]:
type (b)

complex

In [36]:
c=int(y)
print (c)

6

In [37]:
## triple quotes for multiple lines
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [38]:
import random
print(random.randrange(1,10))

2

In [39]:
#Strings elements

In [40]:
k=str('qwerty, uiopas,dfghjk,lzxcvb,  nm')

In [41]:
print(k[0])

q

In [42]:
print(k[7])

In [43]:
print(k[6])

,

In [44]:
print(len(k))

33

In [45]:
for x in "mango":
    print(x)

m
a
n
g
o

In [46]:
#check strings
txt = "The best things in life are free!"
print("free" in txt)

True

In [47]:
txt = "The best things in life are free!"
if "free" in txt:
  print ("Yes, 'free' is present.")

Yes, 'free' is present.

In [48]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")
else: 
  print ("'expensive' present")

No, 'expensive' is NOT present.

In [49]:
print(k)

qwerty, uiopas,dfghjk,lzxcvb,  nm

In [50]:
print(k[:6])

qwerty

In [51]:
print(k[8:14])

uiopas

In [52]:
#modifying string

print(k.upper())

QWERTY, UIOPAS,DFGHJK,LZXCVB,  NM

In [53]:
print(k)

qwerty, uiopas,dfghjk,lzxcvb,  nm

In [54]:
print(k.replace("q", "Q"))

Qwerty, uiopas,dfghjk,lzxcvb,  nm

In [55]:
print(k)

qwerty, uiopas,dfghjk,lzxcvb,  nm

In [56]:
print(k.replace("qw", "QW"))

QWerty, uiopas,dfghjk,lzxcvb,  nm

In [57]:
print(k.split(','))

['qwerty', ' uiopas', 'dfghjk', 'lzxcvb', '  nm']

In [58]:
#Concatenation

a= "Hello"
b="Everyone"
c="!"
d="agadmator"
e="-"

In [59]:
z=a+" "+b+c+" "+e+d
print(z)

Hello Everyone! -agadmator

In [60]:
#string formatting

name= "minhaz"
age= 20

In [61]:
intro= "my name is {} and i am {} years old."
print(intro.format(name,age))

my name is minhaz and i am 20 years old.

In [62]:
#escape characters '\'

txt = "We are the so-called \"Vikings\" from the north."
print (txt)

We are the so-called "Vikings" from the north.

In [63]:
txt2= "hello \n i am minhaz \n i am 20"
print(txt2)

hello
 i am minhaz
 i am 20

In [64]:
# **string methods returns new values. They do not change the original strings

In [65]:
print("10<9")

10<9

In [66]:
10<9

False

In [67]:
9>5

True

In [68]:
a=25.7
b=16

In [69]:
type(b)

int

In [70]:
type(a)

float

In [71]:
a>b

True

In [72]:
a==b

False

In [73]:
a==b

False

In [74]:
type(b)

int

In [75]:
if b>a:
    print ('b is greater than a')
elif b==a:
    print ('b is equal to a')
else:
    print ('what else, a is greater')

what else, a is greater

In [76]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [77]:
#operators

17%5

2

In [78]:
17//5

3

In [79]:
17**5

1419857

In [80]:
#lists

l1 = ["apple", "banana", "cherry"]
print(l1)

['apple', 'banana', 'cherry']

In [81]:
print(len(l1))

3

In [82]:
print(l1[0])

apple

In [83]:
print(l1[2])

cherry

In [84]:
print(l1[-1])

cherry

In [85]:
print(l1[1:3])

['banana', 'cherry']

In [86]:
if "apple" in l1:
    print('apple present')

apple present

In [87]:
#replacing elements
l1[2]= "cucumber"
print(l1)

['apple', 'banana', 'cucumber']

In [88]:
l2=["apple", "banana", "cherry", "orange", "kiwi", "mango"]

In [89]:
l2[3:5]=['komla','tormuj']
print(l2)

['apple', 'banana', 'cherry', 'komla', 'tormuj', 'mango']

In [90]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [91]:
print(l2)

['apple', 'banana', 'cherry', 'komla', 'tormuj', 'mango']

In [92]:
l2.append("watermelon again")
print(l2)

['apple', 'banana', 'cherry', 'komla', 'tormuj', 'mango', 'watermelon again']

In [93]:
l2.insert(2,"bedana")
print (l2)

['apple', 'banana', 'bedana', 'cherry', 'komla', 'tormuj', 'mango', 'watermelon again']

In [94]:
l2.append("ar naam janina")
print (l2)

['apple', 'banana', 'bedana', 'cherry', 'komla', 'tormuj', 'mango', 'watermelon again', 'ar naam janina']

In [95]:
l2.extend(thislist)
print(l2)

['apple', 'banana', 'bedana', 'cherry', 'komla', 'tormuj', 'mango', 'watermelon again', 'ar naam janina', 'apple', 'banana', 'watermelon', 'cherry']

In [96]:
t1= ("zebra","octopus","whale")
print(t1)

('zebra', 'octopus', 'whale')

In [97]:
### elements in tuple gets included in list separately
l2.extend(t1)
print (l2)

['apple', 'banana', 'bedana', 'cherry', 'komla', 'tormuj', 'mango', 'watermelon again', 'ar naam janina', 'apple', 'banana', 'watermelon', 'cherry', 'zebra', 'octopus', 'whale']

In [98]:
# complete tuple gets included in list
l3=l2.append(t1)
print (l2)

['apple', 'banana', 'bedana', 'cherry', 'komla', 'tormuj', 'mango', 'watermelon again', 'ar naam janina', 'apple', 'banana', 'watermelon', 'cherry', 'zebra', 'octopus', 'whale', ('zebra', 'octopus', 'whale')]

In [99]:
# removing elements
l2.remove("banana")
print(l2)

['apple', 'bedana', 'cherry', 'komla', 'tormuj', 'mango', 'watermelon again', 'ar naam janina', 'apple', 'banana', 'watermelon', 'cherry', 'zebra', 'octopus', 'whale', ('zebra', 'octopus', 'whale')]

In [100]:
l2.pop(2)
print(l2)

['apple', 'bedana', 'komla', 'tormuj', 'mango', 'watermelon again', 'ar naam janina', 'apple', 'banana', 'watermelon', 'cherry', 'zebra', 'octopus', 'whale', ('zebra', 'octopus', 'whale')]

In [101]:
del l2[6]
print (l2)

['apple', 'bedana', 'komla', 'tormuj', 'mango', 'watermelon again', 'apple', 'banana', 'watermelon', 'cherry', 'zebra', 'octopus', 'whale', ('zebra', 'octopus', 'whale')]

In [102]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [103]:
print (l2)

['apple', 'bedana', 'komla', 'tormuj', 'mango', 'watermelon again', 'apple', 'banana', 'watermelon', 'cherry', 'zebra', 'octopus', 'whale', ('zebra', 'octopus', 'whale')]

In [104]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [105]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [106]:
#new list from existing list

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [107]:
#newlist = [expression for item in iterable if condition == True]

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]
newlist2 = [x for x in fruits if x != "apple"]
newlist3 = ['hello' for x in fruits]
newlist4 = [x if x != "banana" else "orange" for x in fruits]

print(newlist)
print(newlist2)
print(newlist3)
print(newlist4)

['apple', 'banana', 'mango']
['banana', 'cherry', 'kiwi', 'mango']
['hello', 'hello', 'hello', 'hello', 'hello']
['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [108]:
#alphanumeric sorting
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [109]:
#sort reverse in order
fruits.reverse()
print(fruits)

['mango', 'kiwi', 'cherry', 'banana', 'apple']

In [110]:
#descending sort
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [111]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [112]:
#sort method is case sensitive

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [113]:
#tackling case sensitive by key

thislist = ["banana", "orange", "Kiwi", "Cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'Cherry', 'Kiwi', 'orange']

In [114]:
#copying list without being a reference to original one

mylist=fruits.copy()
print(mylist)

['mango', 'kiwi', 'cherry', 'banana', 'apple']

In [115]:
#alternative

mylist2=list(fruits)
print(mylist2)

['mango', 'kiwi', 'cherry', 'banana', 'apple']

In [116]:
#joining lists

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [117]:
#appending one list to another

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [118]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [119]:
#tuples- ordered, unchangeable, allows duplicate

t1=("zebra", 'kangaroo', 'tiger', 'fox')
print(t1)

('zebra', 'kangaroo', 'tiger', 'fox')

In [120]:
print(len(t1))

4

In [121]:
#one item tuple, add a comma

thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [122]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

In [123]:
#indexing

print(t1[2:4])

('tiger', 'fox')

In [124]:
t1

('zebra', 'kangaroo', 'tiger', 'fox')

In [125]:
if "kangaroo" in t1:
    print('kangaroo is hopping around')
else:
    print("no kangaroo :(")

kangaroo is hopping around

In [126]:
### to change elements or update a tuple, convert it first to list, make changes, covert back to tuple
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
y.append("orange")
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry', 'orange')

In [127]:
y = list(x)
y.remove("apple")
x = tuple(y)
print(x)

('kiwi', 'cherry', 'orange')

In [128]:
# adding tuples

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [129]:
#unpacking

fruits = ("apple", "banana", "cherry")

(x, y, z) = fruits

print(x)
print(y)
print(z)

apple
banana
cherry

In [130]:
fruits = ("apple", "banana", "cherry")

(x, *y) = fruits

print(x)
print(y)

apple
['banana', 'cherry']

In [131]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [132]:
#print all items in reference to index number
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [133]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [134]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [135]:
#multiply tuples

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [136]:
print(mytuple.count("banana"))

2

In [137]:
#sets- unordered, unchangeable, no duplicates

s1={"xerox","2475","TOOL","zebra","L","TOOL","xerox"}
print(s1)

{'2475', 'L', 'TOOL', 'xerox', 'zebra'}

In [138]:
len(s1)

5

In [139]:
type(s1)

set

In [140]:
print("xerox" in s1)

True

In [141]:
for x in s1:
    print (x)

2475
L
TOOL
xerox
zebra

In [142]:
s1.add("subtract")
print(s1)

{'2475', 'L', 'TOOL', 'subtract', 'xerox', 'zebra'}

In [143]:
s1.add("minus")
print(s1)

{'minus', '2475', 'L', 'TOOL', 'subtract', 'xerox', 'zebra'}

In [144]:
s2= {"pineapple", "mango", "papaya"}

In [145]:
s1.update(s2)

In [146]:
print(s1)

{'2475', 'minus', 'L', 'TOOL', 'subtract', 'mango', 'zebra', 'papaya', 'xerox', 'pineapple'}

In [147]:
list=['devil','cracked','earthly','shell']

In [148]:
s1.update(list)
print(s1)

{'2475', 'minus', 'L', 'TOOL', 'subtract', 'mango', 'zebra', 'cracked', 'devil', 'papaya', 'earthly', 'xerox', 'shell', 'pineapple'}

In [149]:
s1.discard('minus')
print(s1)

{'2475', 'L', 'TOOL', 'subtract', 'mango', 'zebra', 'cracked', 'devil', 'papaya', 'earthly', 'xerox', 'shell', 'pineapple'}

In [150]:
s1.discard('2475')
print(s1)

{'L', 'TOOL', 'subtract', 'mango', 'zebra', 'cracked', 'devil', 'papaya', 'earthly', 'xerox', 'shell', 'pineapple'}

In [151]:
s3={'asd','bnm','dfg'}

In [152]:
s4= s1.union(s3)
print(s4)

{'dfg', 'L', 'mango', 'TOOL', 'subtract', 'zebra', 'cracked', 'devil', 'bnm', 'papaya', 'earthly', 'asd', 'xerox', 'shell', 'pineapple'}

In [153]:
s1.update(s3)
print(s1)

{'dfg', 'L', 'TOOL', 'subtract', 'mango', 'zebra', 'cracked', 'devil', 'bnm', 'papaya', 'earthly', 'asd', 'xerox', 'shell', 'pineapple'}

In [154]:
s1==s4

True

In [155]:
#dictionaries- ordered, changeable, no duplicates

dictn = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 2020,
  "year": 1964
}
print(dictn)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [156]:
len(dictn)

3

In [157]:
type(dictn)

dict

In [158]:
x=dictn["model"]
print(x)

Mustang

In [159]:
x2=dictn.get('model')
print(x2)

Mustang

In [160]:
x==x2

True

In [161]:
x!=x2

False

In [162]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x)

car["color"] = "white"

print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [163]:
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [164]:
car["color"] = "silver"

In [165]:
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'silver'}

In [166]:
print(x)

dict_keys(['brand', 'model', 'year', 'color'])

In [167]:
## listing

car2 = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car2.items()

print(x) 

car2["year"] = 2020

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [168]:
#changing elements

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'silver'}

In [169]:
car['year']= '1983'

In [170]:
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': '1983', 'color': 'silver'}

In [171]:
car.update({"year": "1964"})

In [172]:
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': '1964', 'color': 'silver'}

In [173]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
car.update({"color":"silver"})

In [174]:
car.update({"hood":"convertible"})

In [175]:
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'silver', 'hood': 'convertible'}

In [176]:
car.pop("hood")

'convertible'

In [177]:
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'silver'}

In [178]:
mydict=car.copy()

In [179]:
mydict2=dict(car)

In [180]:
print(mydict)
print(mydict2)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'silver'}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'silver'}

In [181]:
# nested dictionaries

TOOL = {
  "child1" : {
    "name" : "maynard james keenan",
    "role" : "vocals"
  },
  "child2" : {
    "name" : "adam jones",
    "role" : "guitar"
  },
  "child3" : {
    "name" : "justin chancellor",
    "role" : "bass"
  },
  "child4" : {
    "name" : "danny carey",
    "role" : "drums"
  }
}

In [182]:
print(TOOL)

{'child1': {'name': 'maynard james keenan', 'role': 'vocals'}, 'child2': {'name': 'adam jones', 'role': 'guitar'}, 'child3': {'name': 'justin chancellor', 'role': 'bass'}, 'child4': {'name': 'danny carey', 'role': 'drums'}}

In [183]:
# if...else

a = 49.6
b = 49.5999
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [184]:
#nested

x = 15

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
but not above 20.

In [185]:
#....while

i = 0
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

0
1
2
3

In [186]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [187]:
i = 0
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

0
1
2
3
4
5
i is no longer less than 6

In [188]:
# for....

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [189]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [190]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [191]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [192]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [193]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [194]:
# nested for

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [195]:
##########

In [196]:
#Functions

In [197]:
def my_function():
  print("Hello from a function")

In [198]:
my_function()

Hello from a function

In [199]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [200]:
def my_function(fname, lname):
  print(fname + " Kumar " + lname)

my_function("Emil", "Refsnes")

Emil Kumar Refsnes

In [201]:
def my_function(fname, lname):
  print(fname + " K " + lname)

my_function("Emil", "")

Emil K

In [202]:
#no. of arguments is unknown
def my_function(*kids):
  print("The youngest child is " + kids[0])

my_function("Emil", "Tobias", "Linus")

The youngest child is Emil

In [203]:
# order doesnt matter
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [204]:
#keyword argument unknown
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [205]:
#default parameters
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [206]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [207]:
def my_function(fruits):
  for x in fruits:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [208]:
#return
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [209]:
#pass
def myfunction():
  pass

In [210]:
#recursion
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [211]:
##lambda functions

In [212]:
x = lambda a : a + 10
print(x(5))

15

In [213]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [214]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [215]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(25))

50

In [216]:
mytripler = myfunc(3)

print(mytripler(11))

33

In [217]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [218]:
###